body {
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(45deg, black, #404040); }

#parallax {
  position: absolute;
  width: 100%;
  height: 100%; }

#mobile-slider-nav {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #mobile-slider-nav .mobile-slider-nav-item {
    padding: 20px;
    cursor: pointer; }
    #mobile-slider-nav .mobile-slider-nav-item img {
      width: 20px; }
    #mobile-slider-nav .mobile-slider-nav-item.btn-hidden img {
      filter: grayscale(1);
      opacity: 0.2; }

.container {
  overflow: hidden; }
  .container #header {
    margin-top: 40px;
    z-index: 15;
    display: inline-flex;
    align-items: center; }
    .container #header nav {
      position: relative; }
      .container #header nav a.nav-item {
        color: white;
        font-family: OpenSansBold;
        z-index: 15;
        text-decoration: none; }
        .container #header nav a.nav-item:last-child {
          margin-left: 20px; }
        .container #header nav a.nav-item.nav-active {
          border-left: solid 4px;
          padding-left: 5px;
          pointer-events: none; }
    .container #header #logo {
      width: 150px;
      top: 60px; }

.slide {
  position: fixed; }
  .slide .mobile-wrapper a {
    margin-bottom: 20px !important; }
  .slide .project-img {
    display: block;
    height: auto;
    opacity: 0.2;
    filter: blur(30px);
    pointer-events: none;
    transform: translateX(200px);
    transition: all 0.6s ease-in-out;
    z-index: 0;
    overflow: hidden; }
    .slide .project-img img {
      width: inherit;
      display: block;
      transition: all 0.5s ease-in; }
  .slide .project-img.img-active {
    z-index: 0;
    opacity: 1;
    transform: translateX(0px);
    pointer-events: initial;
    filter: blur(0px);
    transition: all 0.6s ease-in-out; }
    .slide .project-img.img-active img {
      transform: scale(1) rotateZ(0deg);
      transition: all 0.3s ease-in; }
      .slide .project-img.img-active img:hover {
        transform: scale(1.1) rotateZ(3deg);
        transition: all 0.3s ease-out; }
  .slide .info {
    margin-right: 50px; }
    .slide .info .hidden {
      transform: translateY(120%) !important; }
    .slide .info .hidden-context {
      clip-path: inset(0 100% 0 0) !important; }
    .slide .info .hidden-title {
      color: #FFB951 !important;
      clip-path: inset(0 0 0 100%) !important; }
    .slide .info .hidden-desc {
      color: #232323 !important; }
    .slide .info .headline {
      z-index: 1;
      border-bottom: solid 2px #ffffff40; }
      .slide .info .headline #context {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        clip-path: inset(0 0 0 0);
        transition: all 0.4s ease-out; }
        .slide .info .headline #context #tag {
          font-size: 18px;
          color: #727272;
          text-transform: uppercase;
          font-family: OpenSansBlack; }
        .slide .info .headline #context #year {
          font-size: 32px;
          color: #FFB951;
          font-family: OpenSansBlack; }
      .slide .info .headline h2 {
        color: #ffffff;
        text-transform: uppercase;
        padding: 25px 0px;
        width: 250px;
        min-width: 250px;
        font-family: OpenSansBlack;
        clip-path: inset(0 0 0 0);
        transition: all 0.4s ease-out; }
    .slide .info #desc {
      z-index: 2;
      position: relative;
      color: #C5C5C5;
      padding: 30px 0px;
      font-family: OpenSansBold;
      transition: all 0.4s ease-out; }
    .slide .info #btn {
      display: block;
      text-decoration: none;
      padding: 10px 0px;
      color: white;
      font-family: OpenSansBold; }
  .slide nav {
    display: flex;
    justify-content: space-between;
    height: 150px; }
    .slide nav #slider-nav {
      display: flex;
      flex-direction: row; }
      .slide nav #slider-nav div {
        cursor: pointer;
        pointer-events: initial;
        font-family: OpenSansBold;
        font-size: 8px;
        margin: 0 10px;
        color: #ffffff40;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        padding: 5px;
        border-radius: 100%;
        border: solid 2px #ffffff00;
        transition: all 0.4s ease-in-out; }
        .slide nav #slider-nav div.nav-active {
          pointer-events: none;
          border: solid 2px white;
          color: white;
          transition: all 0.4s ease-in-out; }
    .slide nav img {
      cursor: pointer;
      padding: 20px 15px; }
      .slide nav img:last-child {
        transform: rotateX(180deg); }
      .slide nav img.btn-hidden {
        filter: invert(0.6);
        cursor: not-allowed; }

@font-face {
  font-family: "OpenSansBold";
  src: url("fonts/OpenSans-Bold.ttf"); }
@font-face {
  font-family: "OpenSansBlack";
  src: url("fonts/OpenSans-ExtraBold.ttf"); }
body {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media screen and (max-width: 959px) {
  body {
    height: 100vh; }

  .container {
    width: 100%;
    padding: 0 10%;
    margin: 0 auto; }
    .container #header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 40px;
      position: initial; }
      .container #header .nav-item.nav-active {
        display: none; }
    .container .slide {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      position: relative; }
      .container .slide .info {
        align-self: stretch;
        padding: 0px;
        margin-right: 0px; }
        .container .slide .info .headline {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .container .slide .info .headline #context #tag {
            font-size: 14px; }
          .container .slide .info .headline #context #year {
            font-size: 18px; }
          .container .slide .info .headline h2 {
            width: auto;
            min-width: auto;
            font-size: 15px;
            padding: 25px 00px; }
        .container .slide .info #desc {
          padding: 20px 00px;
          text-align: right;
          font-size: 13px; }
        .container .slide .info #btn {
          text-align: right;
          padding: 10px 00px;
          font-size: 15px; }
      .container .slide .images-container {
        max-width: calc(100% * 4);
        width: calc(100% * 4);
        height: calc(((100vw * 0.8 * 4) * 0.25) * 0.625);
        position: relative;
        transition: all 0.4s;
        align-self: baseline; }
        .container .slide .images-container .mobile-wrapper {
          position: absolute; }
          .container .slide .images-container .mobile-wrapper .project-img {
            transform: translateX(0px);
            height: auto;
            width: 25%;
            float: left;
            overflow: hidden;
            opacity: 0.3; }
            .container .slide .images-container .mobile-wrapper .project-img.img-active {
              opacity: 1; }
            .container .slide .images-container .mobile-wrapper .project-img img {
              width: 100%; }
      .container .slide nav {
        display: none; } }
@media screen and (min-width: 960px) {
  #mobile-slider-nav {
    display: none; }

  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    .container #header {
      align-self: flex-start;
      width: 915px;
      justify-content: space-between !important; }
    .container .slide {
      width: initial;
      display: flex;
      align-items: center; }
      .container .slide .images-container {
        display: flex;
        flex-direction: column;
        transform: translateY(calc(50% - 125px));
        transition: all 0.9s ease-in-out;
        line-height: 0;
        perspective: 800px; }
        .container .slide .images-container .mobile-wrapper {
          width: min-content; }
          .container .slide .images-container .mobile-wrapper a {
            margin-bottom: 20px; }
          .container .slide .images-container .mobile-wrapper .project-img {
            width: 400px;
            margin-bottom: 20px; }
      .container .slide .info {
        text-align: right;
        min-width: 400px;
        width: 400px; }
        .container .slide .info #desc {
          line-height: 1.8;
          font-size: 14px; }
        .container .slide .info .headline {
          display: flex;
          justify-content: space-between;
          align-items: center; }
      .container .slide nav {
        flex-direction: column;
        z-index: 2;
        height: auto;
        margin-left: 20px; }
        .container .slide nav #slider-nav {
          flex-direction: column;
          align-items: center; }
          .container .slide nav #slider-nav div {
            margin: 10px 0; } }
@media screen and (min-width: 1260px) {
  #header {
    width: 1265px !important; }

  .info {
    width: 450px !important; }

  .images-container {
    transform: translateY(calc(50% - 187.5px)) !important; }
    .images-container .project-img {
      min-width: 550px !important;
      width: 550px !important;
      height: auto; } }
@media screen and (min-width: 1850px) {
  #header {
    width: 1465px !important; }

  .images-container {
    transform: translateY(calc(50% - 250px)) !important; }
    .images-container .project-img {
      width: 800px !important;
      height: auto; } }

/*# sourceMappingURL=main.css.map */
