@import 'theme';
@font-face {
  font-family: "OpenSansBold";
  src: url("fonts/OpenSans-Bold.ttf"); }
@font-face { 
  font-family: "OpenSansBlack";
  src: url("fonts/OpenSans-ExtraBold.ttf"); }

body{
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$nbImg:4;
$percentWidth:100%/$nbImg;
$coefImg:1/$nbImg;


@media screen and (max-width: 959px) {
  body{
    height: 100vh;
  }
  .container{
    width: 100%;
    padding: 0 10%;
    margin: 0 auto;
    #header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 40px;
      position: initial;
      .nav-item.nav-active{
        display: none;
      }

    }
    .slide{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      position: relative;
      .info{
        align-self: stretch;
        padding: 0px;
        margin-right: 0px;
        .headline{
          display: flex;
          justify-content: space-between;
          align-items: center;
          #context{
            #tag{
              font-size: 14px;
            }
            #year{
              font-size: 18px;
            }
          }
          h2{
            width: auto;
            min-width: auto;
            font-size: 15px;
            padding: 25px 00px;
          }
        }
        #desc{
          padding: 20px 00px;
          text-align: right;
          font-size: 13px;
        }
        #btn{
          text-align: right;
          padding: 10px 00px;
          font-size: 15px;
        }
      }
      .images-container{ 
        max-width: calc(100% * #{$nbImg});
        width: calc(100% * #{$nbImg});
        height: calc(((100vw * 0.8 * #{$nbImg}) * #{$coefImg}) * 0.625);
        position: relative;
        transition: all 0.4s;
        align-self: baseline;
        .mobile-wrapper{
          position: absolute;
          .project-img{
             transform: translateX(0px);
             height: auto;
             width: $percentWidth;
             float: left;
             overflow: hidden;
             opacity:0.3;
             &.img-active{
               opacity: 1;
             }
             img{
               width: 100%;
             }
          }
        }
      }
      nav{
        display: none;
      }
    }
  }
}


// Medium
@media screen and (min-width: 960px) {
  #mobile-slider-nav{display: none;}
  .container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    #header{
      align-self: flex-start;
      width: 915px;
      justify-content: space-between !important;
    }
    .slide{
      width: initial;
      display: flex;
      align-items: center;
      .images-container{
        display: flex;
        flex-direction: column;
        transform: translateY(calc(50% - 125px));
        transition: all 0.9s ease-in-out;
        line-height: 0;
        perspective: 800px;
        .mobile-wrapper{
          width: min-content;
          a{
            margin-bottom: 20px;
          }
          .project-img{
            width: 400px;
            margin-bottom: 20px;
          }
        }
      }
      .info{
        text-align: right;
        min-width: 400px;
        width: 400px;  
        #desc{
          line-height: 1.8;
          font-size:14px;
        }
        .headline{
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
      nav{
        flex-direction: column;
        z-index: 2;
        height: auto;
        margin-left: 20px;
        #slider-nav{
          flex-direction: column;
          align-items: center;
          div{
            margin:10px 0;
          }
        }
      }
    }
  }
}

//Large
@media screen and (min-width: 1260px) {
  #header{
    width: 1265px !important;
  }
  .info{
    width: 450px !important;
  }
  .images-container{
    transform: translateY(calc(50% - 187.5px)) !important;
    .project-img{ 
      min-width: 550px !important;
      width: 550px !important;
      height: auto;
    }
  }
}

//Desktop
@media screen and (min-width: 1850px) {
  #header{
    width: 1465px !important;
  }
  .images-container{
    transform: translateY(calc(50% - 250px)) !important;
    .project-img{
      width: 800px !important;
      height: auto;
    } 
  }
}
